<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<title>Testing A Map</title>
		
		<style>
		
			#map {
        			height: 400px;
        			width: 100%;
       		}
       		
		</style>
		
		<script th:src="@{/js/map.js}"></script>
	    <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt_Goq2iMbIxWsjPVCDw9ExKDbdCi82Gw&amp;callback=mapInit"></script>
		
	</head>
	
	<body>
	
		<h1 style="text-align:center">Map Test</h1>
		
		<div id="map"></div>
		
	</body>

</html>